@import 'variables';

* {
  box-sizing: border-box;
}

html, body {
  min-width: $page-width;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family !important;
  background-color: $body-background-color !important;

  &.hide-footer {
    footer {
      display: none;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}